<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title demo: #{demoName}
		style.
			html, body {
				margin: 0;
				padding: 0;
				border: none;
				background: #777;
			}
			#container {
				position: absolute;
				left: 0;
				top: 0;
				width: 100vw;
				height: 100vh;
			}

	body

		.info

		#container

		script(type="text/javascript" src="http://g.alicdn.com/dt/libs/threed/dat.gui.min.js" charset="utf-8")
		script(type="text/javascript" src="/static/import.demo.js" charset="utf-8")

		script(type="text/javascript" src="/static/" + demoName + ".demo.js" + ran)

		script.
			console.log('\n')
			console.log(
				'%c ✩✩DT数据之美✩✩ ',
				'font-size: 30px; color: white; line-height: 30px; background: linear-gradient(70deg, #4F86C6, #4FB0C6) !important; padding: 30px 40px;'
			)
			console.log(
				'%c数据技术及产品部-数据可视化团队\n招聘 数据可视化/图形开发/前端工程师/Unity3D\ngaomeng.gm@alibaba-inc.com', 
				'font-size: 18px; color: #30A9DE; line-height: 20px; font-weight: bold;'
			)
			console.log('\n')
